# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# IDE and editor files
.vscode/
.idea/
.vs/

# Linker output
*.ilk
*.map
*.cbd
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# CMake
cmake-build-*/

# Bazel build helpers
bazel-*/